<h1>SHOW PAGE</h1>

<ul>
    <!--
    <li><%= @user.username %></li>
    <li><%= @user.username %></li>
    <li><%= @user.username %></li>
-->

<%= render 'user', user: @user, action: :show %> <!-- this makes user equal to @user -->
 <!-- in the render 'user' it will just look for something with _user -->

</ul>



<!--
<%  %> - er + tab
<%=  %> - er + tab

Cycle extention - " shift + ctrl + ` "

-->